html {
    background-image: url(https://img.freepik.com/fotos-premium/schneeflocken-die-auf-einen-blauen-hintergrund-fallen-generative-ki_410516-49611.jpg);
    background-size: cover;
}

body {
    height: 100vh;
}

/* the fake body is only there because it somehow didn't work in the normal body and my computer scientist friend said that's how you do it sometimes*/
#fake {
    display: flex;
    height: 100vh;
    justify-items: center;
    align-items: center;
}

#window {
    width: 60%;
    height: 400px;
    margin: auto;
    background-color: #3f4e66;
    border-radius: 13px;
    text-align: center;
    border: 2px solid white;
    overflow: auto;
}

#output {
    margin: 3vh 2vw;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: x-large;
    font-style: italic;
}

#input {
    border-radius: 7px;
    font-size: x-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: oblique;
    text-align: center;
}