html {
    background-image: url(https://img.freepik.com/fotos-premium/schneeflocken-die-auf-einen-blauen-hintergrund-fallen-generative-ki_410516-49611.jpg) ;
    background-size: cover;
}

#window {
    background-color: #3f4e66;
    margin: 35vh 30vw;
    height: 30vh;
    border-radius: 13px;
    text-align: center;
    border: 2px solid white;
    overflow: auto;
}

#output {
    margin: 3vh 2vw;
}

#input {
    border-radius: 7px;
}
