html {
    background-color: #222324;
    }

body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

#small {
    position: fixed;
    flex-grow: 2;
    top: 0;
    left: 0;
    background-color: #916300;
    height: 305px;
    width: 36%;
    border: 5px solid black ;
  } 

#middle {
    position: fixed;
    flex-grow: 3;
    top: 0;
    right: 0;
    background-color: #3d111c;
    height: 305px;
    width: 60%;
    border: 5px solid black;
}

#big {
    position: fixed;
    flex-grow: 5;
    bottom: 0;
    background-color: #0c302c;
    height: 610px;
    width: 98%;
    border: 5px solid black;
}

@media (min-width: 600px) {

body {
 display: flex;
 flex-direction: column;
 flex-wrap: wrap;
}

#small {
    flex: 1 0 0;
    top: 0;
    left: 0;
    height: 240px;
    width: 420px;
}

#middle {
    flex: 1 0 0;
    top: 240px;
    left: 0;
    height: 470px;
    width: 420px;
}

#big {
    flex: 2 0 0;
    top: 0;
    right: 0;
    width: 849px;
    height: 710px;
}
}